/**
* @author Prenom Nom courriel
*/

/** Polices de caractères **/

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$bleu-moyen: #358ae0;
$bleu-pale: #68a8e8;
$vert-lime: #bbd531;
$bleu-minuit: #012d61;
$bleu-marin: #2678B5;

/* Autres couleurs */


/** Points de rupture **/
$desktop : 601px;
