@charset "UTF-8";

/**
 * @author Prenom Nom <courriel>
 * @todo Lier les modules avec des instructions @use
 */

/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */

/****** Librairies ****************************/

/** Normalize **/
@use 'librairies/normalize';


/**** UTILITAIRES ****************************/

/** Variables **/
@use 'utilitaires/variables';

/****** MODULES *****************************/

/****** LAYOUT *****************************/
@use "layout/accueil";
@use "layout/entete";
@use "layout/pied_de_page";

